data/*.tsv/
data/*/
data/*.tar.gz
data/LibriSpeech


graphs*

plots/*

logs/*

FE_data/*/
FE_data/LibriSpeech

models/*

dict/*_word.txt

nohup_log/*

dict/words_alpha.txt

utilization_log/*.csv
utilization_log/*.data

lm/*.binary
lm/trie
