data/*.tsv/
data/*/
data/*.tar.gz


graphs*

plots/*

logs/*

FE_data/*/*.tfrecord
FE_data/*.tfrecord
FE_data/New/*
FE_data/*/
models/*

dict/*_word.txt

nohup_log/*

dict/words_alpha.txt

utilization_log/*.csv
utilization_log/*.data

lm/*.binary
lm/trie
